/* topPageStyle.css */

.template-container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 16px;
    border: 1px solid #ccc;
    margin: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Ensure each column takes full width on smaller screens */
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .template-container {
        flex-direction: row;
    }
    .column {
        flex: 1;
        margin: 8px;
        display: flex;
        flex-direction: column;
        width: calc(50% - 16px);
        /* Adjust width and margin as needed */
    }
    .image {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 0;
        margin-right: 10px;
        /* Adjust margin as needed */
    }
    .dynamic-content {
        margin-top: 16px;
    }
}