.maincontainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #F3FDF7;
    z-index: 10;
}

.feature-heading {
    text-align: left !important;
    margin-bottom: 20px !important;
}

.services-description {
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 10px !important;
}

.service-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}


/* Adjust justification for small screens */

@media (max-width: 600px) {
    .service-container {
        justify-content: center;
    }
}

.services {
    width: 18%;
    /* Default width */
    margin-bottom: 10px;
    /* Default margin-bottom */
}


/* Adjust width for small screens */

@media (max-width: 600px) {
    .services {
        width: 100%;
    }
}