.container {
    display: flex;
    justify-content: space-between;
    /* Distribute space evenly between items */
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
}

.book-appointment-button:hover {
    text-decoration: underline;
}

.book-appointment-button .MuiIconButton-root {
    color: #007bff;
}


/* Additional content styling */

.additional-content {
    flex: 1;
    /* Take remaining space */
    margin: 20px;
    /* Adjusted margin */
}


/* Additional content item styling */

.additional-content-item {
    background-color: #d1ecf1;
    /* Background color for additional content */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}


/* components/styles/doctorCard.css */

.doctor-card {
    border-radius: 8px;
    border: 2px solid #e5e5e5;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.doctor-card-image {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px 8px 0 0;
}

.doctor-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.doctor-card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
}

.book-appointment-button {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    background-color: #007bff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 0 0 8px 8px;
}

.book-appointment-button:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.book-appointment-button .MuiIconButton-root {
    color: #fff;
}