/* App.css */

.horizontal-scrollable-list {
  display: flex;
  overflow-x: auto;
  padding: 20px;
}

.doctor-list {
  display: flex;
  flex-direction: row;
}

/* .doctor-card {
  display: flex;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  max-width: 500px;
} */

/* .doctor-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
} */

.doctor-info {
  padding: 15px;
}

h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

p {
  margin: 0;
  font-size: 14px;
  color: #555;
}
/* 
.doctor-card {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin-bottom: 30px;
  position: relative;
  background: #fff
} */
/* 
.doctor-card-content {
  display: flex;
  align-items: end;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5
} */

/* .doctor-card-img {
  width: 100px;
  height: fit-content;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  margin-right: 18px
} */

.doctor-card-bottom {
  margin-top: 0;
  width: 73%
}